{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "globalReturn": true
    },
    "sourceType": "module"
  },
  "extends": "standard",
  "plugins": [
    "standard"
  ]
}
